*, body
{
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.cover-container
{
    display: flex;
}
.title-poa header
{
    color: #575a85;
    font-size: 36px;
    font-weight: 700;
    margin-left: 11%;
    margin-top: 1%;
}
.cover-p
{
    color:white;
    font-size: 24px;
    font-weight: 400;
    white-space: pre;
}
.cover-im
{
    margin-left: 21%;
}
.IP-Address
{
    background-color: #575a85;
    width: 100vw;
    height: 100vh;
    margin-left: 10%;
}
#IP-Des, #getnext, #IP-Display
{
    color: #B8BCCC;
    background-color: #575a85;
}
#IP-Des
{
    margin-top: 40vh;
    padding: 5%;
    font-size: 35px;
    font-weight: 700;
}
#IP-Display
{
    color: #FFFFFF;
}
#getnext
{
    width: 345px;
    height: 67px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 25px;
}
.IP-Note
{
    color: #B8BCCC;
    font-size: 30px;
    font-weight: 700;
    padding-left: 15px;
}
#IP-content-display
{
    color: #FFFFFF;
}
.Co-Details, .geog-details
{
    color: #B8BCCC;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.lat-long
{
    color: #B8BCCC;
}
.map-l
{
    padding-top: 8%;
    padding-right: 30%;
    padding-left: 20%;
}
.more-info header
{
    font-size: 35px;
    font-weight: 700;
}
.more-info div ul
{
    list-style-type: none;
    margin: 5px;
}
.postadd
{
    margin-top: 20vh;
    margin-right:60vw;
    border: 2px solid #575a85;
    padding: 8px 50px;
    border-radius: 5px;
    background-color: #575a85;
}
.postadd div
{
    background-color: #575a85;
    color: #FFFFFF;
}